**/.DS_Store

**/settings
**/Debug/*
**/FlashOnly/*
**/FlashROM/*

**/*.axf
**/*.[Bb]ak
**/*.crf
**/*.d
**/*.dep
**/*.elf
**/*.exe
**/*.ewt
**/*.htm
**/*.iex
**/*.Jack
**/*.lnp
**/*.log
**/*.lst
**/*.map
**/*.o
**/*.obj
**/*.opt
**/*.plg
**/*.tmp
**/*.tra
**/*.uvgui.*
**/*.xls
**/*._ia
**/*.__i
**/*.build_log
**/*.pyc
**/*.bin
**/*.uvopt
**/JLinkLog.txt
**/*.swp
**/EnvSetting[._]pb*
**/PigEar[._]pb*
**/PigSetting[._]pb*
**/TransferGPS[._]pb*
**/TransferSetting[._]pb*
**/DeviceType[._]pb*
**/Transfer[._]pb*
